html {
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
    min-height: 1000px;
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.6);
}

.box#switchBox {
    max-width: 380px;
    border-radius: 4.5em;
    background: white;
    padding-top: 6px;
    margin-top: 0;
}

#heading {
    background-color: blueviolet;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid red;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    text-decoration: line-through;
    text-decoration-color: blueviolet;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

p.foot {
    padding: 10px;
    color: #001025;
}

form.item {
    text-align: center;
    margin-left: 20px;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: blueviolet;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

button.switchBtn {
    background-color: #24041e98;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 blueviolet;
}

#switchBox input:focus {
    box-shadow: none;
}

::placeholder {
    color: #24041e98;
    opacity: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24041e1f;
    color: white;
    color: rgba(0, 0, 0, 0.911);
    text-align: center;
}

.footer a {
    color: #002658;
}

.footer a:hover {
    color: #0146a0;
    text-decoration: none;
}
